html {
  font-family: 'Great Vibes', cursive;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
  margin: 0 auto;
  text-align: center;
  color: white;
  letter-spacing: 5px;
}

h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}


header {
  margin: 50px 0;
}

main {
  display: flex;
  justify-content: space-around;
}